<div id="background">
   <div class="container" style="text-align: center;"><br>
            <h1 class="center">Welcome to Online Bookings</h1>
               <a routerLink='/room'><button style="color: aliceblue;">VISIT ROOMS</button></a>
         </div>
      </div>

<hr>
   <h1 class="center2">SEARCH BY CATEGORY</h1>
   
   <div style="text-align: center;">
      <button (click)="getPropertyType('Apartment')">Appartment</button> &nbsp;
      <button (click)="getPropertyType('Villa')">Villa</button> &nbsp;
      <button (click)="getPropertyType('Residential home')">Flat</button>
   </div> 
   

<hr>

<h1 class="center2">SEARCH BY LOCATION</h1>
<div class="container places-section">
   <img src="../../assets/chennai.jpg" alt="" (click)="getlocation('chennai')">
   <img src="../../assets/bangalore.jpg" alt="" (click)="getlocation('bangalore')">
   <img src="../../assets/delhi.jpg" alt="" (click)="getlocation('delhi')"></div>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chennai&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bangalore&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delhi</h3>
   
   <div class="container places-section">
   <img src="../../assets/mumbai.jpg" alt="" (click)="getlocation('mumbai')">
   <img src="../../assets/goa.jpg" alt="" (click)="getlocation('goa')">
   <img src="../../assets/hyderabad.jpg" alt="" (click)="getlocation('hyderabad')">
   </div>
   <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mumbai &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Goa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyderabad</h3>
   <div class="container places-section">
   <img src="../../assets/agra.jpg" alt="" (click)="getlocation('agra')">
   <img src="../../assets/kerala.jpg" alt="" (click)="getlocation('kerala')">
   <img src="../../assets/vizag.jpg" alt="" (click)="getlocation('vizag')">
</div>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agra &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kerala&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vizag</h3>
<hr>
