#background{
   background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.801)) ,url('https://cdn.pixabay.com/photo/2017/05/05/16/11/santa-cruz-2287588_960_720.jpg');
   background-size: cover;
   background-color: black;
   width: 100%;
   height: 90vh;
}
.center{
   margin-top:15%;
   color: white;
   text-align: center;
}
.center2{
   color: black;
   text-align: center;
}

button{
   font-weight: 500;
   margin-top: 3%;
   background-color: transparent;
   color: rgb(5, 0, 0);
   width: 25%;
   border: rgb(218, 206, 206) 2px solid;
   padding: 5px 0;
   font-size: 23px;
   border-radius: 5px;
}

button:hover{
   background-color: rgb(243, 235, 235);
   color: rgb(10, 2, 2);
   transition: 0.5s ease-out;
}
.places-section{
   margin-top: 2%;
}

img{
   margin: 2%;
   width: 50vh;
   height: 30vh;
   border-radius: 5px;
   
   box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
   transition: all ease-in 0.3s;
}
img:hover{
   transform: scale(1.05);
   border: 1px solid rgb(214, 58, 58);
   opacity: 0.8;
   cursor: pointer;
}
#place-headline{
   display: block;
   margin: 2% 0;
   font-size: 200%;
   font-weight: 700;
   opacity: 0.6;
   text-align: center;
}
i{
   font-size: 20px;
   margin: 40%;
   border: 2px solid rgb(209, 209, 209);
   background-color: rgb(209, 209, 209);
   border-radius: 50%;
   padding: 10px 8px 6px 8px;
}
#iconsetter{
   font-size: 20px;
   margin: 40%;
   border: 2px solid rgb(209, 209, 209);
   background-color: rgb(209, 209, 209);
   border-radius: 50%;
   margin-top: 100% !important;
}
@media only screen and (max-width:1000px)
{
   .col-1{
      display: none;
   }
   .col-res{
      display: none;
   }
   #background{
      height: 60vh;
   }
   .col-safety{
      width: 50vh;
   }
   
}