#bg-slider{
   background-image: url('../../assets/bookback1.png');
   background-size: cover;
   width: 100%;
   height:200vh;
}
.moreinfo-content{
   width: 100%;
   height: 50vh;
   padding-top: 2%;
   padding-left: 15%;
   padding-right: 10%;
}
.info-setter{
   background-color: #fff;
   width: 100%;
   height: 100vh;
   padding: 1% 2%;
}
.info-setter i{
   font-size: x-large;
   color: black;
   margin-right: 2%;
}
#room-title{
   font-size: xx-large;
   color: black;
}
.row{
   margin-top: 2%;
}
.carousel-item img{
   height: 50vh;
}
.col-3{
   border: 1px solid rgb(214, 58, 58);
   margin: 0 2%;
   padding: 1% 2%;
}
.center{
   text-align: center;
}
input[type=button],input[type=submit] {
   background-color: rgb(214, 58, 58);
   border: none;
   color: #fff;
   padding: 7px 40px;
   text-decoration: none;
   margin: 4px 4px;
   cursor: pointer;
}
input[type=button],input[type=submit]:hover{
background-color: rgb(173, 43, 43);
}
.activity{
   margin-top: 10%;
}
.p-md-4{
   padding: 0rem !important;
}
.form-control{
   padding: 8px;
}
.input-number{
   margin: 2% 1%;
}
table{
   margin-top: 20px;
}
#table-slider{
   padding: 10px 0 !important;
}
#table-head{
   font-weight: bold;
   width: 140px;
}
#table-body{
   font-family: 'Courier New', Courier, monospace;
}
.col-6 i{
   color: #000;
}
#table-body a{
   font-size: large;
   text-decoration: underline;
   font-family: 'Courier New', Courier, monospace;
   cursor: pointer;
}
