<div id="bg-slider">
   <div class="container">
      <div class="moreinfo-content">
         <div class="info-setter">

            <div style="text-align: center;">
               <a routerLink="/ownerdashboard"><i class="fa fa-arrow-left"></i></a>
               <span id="room-title">{{property.property_name}}</span><hr>
            </div>
            <div class="row">
               <div class="col">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                     <div class="carousel-indicators">
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                     </div>
                     <div class="carousel-inner">
                       <div class="carousel-item active">
                         <img src="{{property.image1}}" class="d-block w-100" alt="...">
                       </div>
                       <div class="carousel-item">
                         <img src="{{property.image2}}" class="d-block w-100" alt="...">
                       </div>
                       <div class="carousel-item">
                         <img src="{{property.image3}}" class="d-block w-100" alt="...">
                       </div>
                       <div class="carousel-item">
                        <img src="{{property.image4}}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{{property.image5}}" class="d-block w-100" alt="...">
                      </div>
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Previous</span>
                     </button>
                     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Next</span>
                     </button>
                   </div>

                   <table>
                      <div id="table-slider">
                        <tr>
                           <td id="table-head">Properties :</td>
                           <td id="table-body">
                              <div class="row">
                                 <div class="col-6">Room : {{property.rooms}}</div>
                                 <div class="col-6">Beds : {{property.beds}} Double(s)</div>
                                 <div class="col-6">Location : {{property.location}}</div>
                                 <div class="col-6">Swimming Pool : Yes</div>
                                 <div class="col-6">AC  : Yes</div>
                                 <div class="col-6">Wi-Fi : Yes</div>
                                 <div class="col-6">Garden : Yes</div>
                              </div>
                           </td>
                         </tr>
                      </div>
                      <div id="table-slider">
                        <tr>
                           <td id="table-head">Property Description :</td>
                           <td id="table-body">
                              <p style="text-align: justify;">{{property.more_info}}</p>
                           </td>
                         </tr>
                      </div>
                      
                   </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>