<div class="container-ng">
   <div style="text-align: center;">
   <button class="btn btn-dark" routerLink="/bookedhistory">BOOKING INFORMATION</button>
   <button class="btn btn-dark" routerLink="/ownerapproval">PENDING</button>
   <hr>
   <a routerLink="/addproperty"><button class="btn btn-dark">ADD PROPERTY</button></a>
   <hr>
   <h1>Available Propoerties</h1>
   </div>
   

   <div class="row">
      <div class="col">             
         <br>
         <div class="property-list-display">
            <span *ngFor="let pro of property;let indexOfelement=index;">
               <div class="property-list">
                  <div class="row">
                     <div class="col-3 property-image-sizer" style="width: 20rem;">
                        <img src="{{pro.image1}}"  alt="">
                     </div>
                     <div class="col">
                        <div class="property-content" style="width: 30rem;">
                           <h3 style="margin-bottom: 0px;">{{pro.property_name}}</h3>
                           <p style="margin-bottom: 3px; text-transform: capitalize;">{{pro.location}}</p>
                           <span class="property-features">
                              <ul>
                                 <li>Rooms : {{pro.rooms}}</li>
                                 <li>Location : {{pro.location}}</li>
                                 <li>Rating  : {{pro.ratings}}</li>
                              </ul>
                           </span>
                           <br>
                           <div class="col-12">
                              <span style="font-size: larger;font-weight: bold;">Price : </span><span style="font-size:x-large;">{{pro.price}}</span><span> -Per Night</span>
                           </div>
                        </div>
                     </div>
                     <hr id="hr-responsive" style="display: none;">
                     <div class="col-2 center">
                        <div class="row">
                           <div class="col-12">
                              <a routerLink="/moreinfo" (click)="getMoreInfo(pro)"><input type="submit" style="background-color: black" value="Details"></a>
                           </div>
                           <div class="col-12">
                              <a><input type="submit" (click)="edit(pro)" style="background-color: black" value="Edit"></a>
                           </div>
                           <div class="col-12">
                              <input type="submit" (click)="deleteProperty(pro)" value="Delete">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </span>
         </div>
   </div>
</div>
<br>
<br>