<div class="container">
   <br>
   <div style="text-align: center;">
      <h1>BOOKING HISTORY</h1>
      <hr>
   </div>

   <span *ngFor="let pro of property;let indexOfelement=index;">
      <div class="property-list">
         <div class="user-details">
            <div class="user-info">
               <div class="row">
                  <div class="col"><b>Name : </b>{{pro.user_name}}</div>
                  <div class="col"><b>Email : </b>{{pro.user_email}}</div>
                  <div class="col"><b>Phone : </b>{{pro.user_phone}}</div>
               </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-3 property-image-sizer" style="width: 20rem;">
                  <img src="../../assets/IMG0{{indexOfelement}}1.jpg"  alt="">
               </div>
               <div class="col">
                  <div class="property-content" style="width: 30rem;">
                     <h3 style="margin-bottom: 0px;">{{pro.room_name}}</h3>
                     <p style="margin-bottom: 3px; text-transform: capitalize;">{{pro.room_type}}</p>
                     <p style="margin-bottom: 3px; text-transform: capitalize;">{{pro.property_address}}</p>
                     <b>TOTAL : {{pro.total}}</b>
                     <span class="property-features">
                        <ul>
                           <li>Date From : {{pro.date_from}}</li>
                           <li>Date To&nbsp;: {{pro.due_date}}</li>
                           <li>No. of Nights : {{pro.no_of_nights}} </li>
                           <li>Rooms Booked &nbsp;: {{pro.no_of_rooms}}</li>
                        </ul>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </span>
</div>
<br>
<br>
<br>