<div class="container">
   <br>
   <h1 style="text-align: center;">PENDING PROPERTIES FOR APPROVAL</h1>
   <hr>
   <span *ngFor="let pro of property;let indexOfelement=index;">
      <div class="property-list">
         <div class="user-details">
            <div class="row">
               <div class="col-3 property-image-sizer" style="width: 20rem;">
                  <img src="../../assets/IMG0{{indexOfelement}}1.jpg"  alt="">
               </div>
               <div class="col">
                  <div class="property-content" style="width: 30rem;">
                     <h3 style="margin-bottom: 0px;">{{pro.room_name}}</h3>
                     <P> Room-Type : {{pro.room_type}}</P>
                     <p style="margin-bottom: 3px; text-transform: capitalize;">Loaction : {{pro.property_address}}</p>
                     <p>
                        Toatal Amount : {{pro.total}}
                     </p>
                     <span class="property-features">
                        <ul>
                           <li>Date From : {{pro.date_from}}</li>
                           <li>Date To &nbsp;: {{pro.due_date}}</li>
                           <li>No. of Night : {{pro.no_of_nights}}</li>
                           <li>Rooms &nbsp;: {{pro.no_of_rooms}}</li>
                        </ul>
                     </span>
                  </div>
               </div>
               <div class="col">
                  <div class="user-info">
                        <div class="col"><b>Name : </b>{{pro.user_name}}</div>
                        <div class="col"><b>Email : </b>{{pro.user_email}}</div>
                        <div class="col"><b>Phone : </b>{{pro.user_phone}}</div>
                        <br><br><br><br>
                        <div class="col"><button class="btn btn-success" (click)="approve(pro)">Approve</button></div><br>
                        
                  </div>
               </div>
            </div>
         </div>
      </div>
   </span>
</div>
<br>
<br>
<br>