#background{
   background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.801)) ,url('../../assets/adminlogi.jpg');
   background-size: cover;
   background-color: black;
   width: 100%;
   height: 90vh;
   display:flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   position: relative;
}

*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: sans-serif;
}

a{
    text-decoration: none !important;
}

.form_data{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    padding: 3rem;
    width: 110%;
    height: 80vh;
}

.form-control {
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   color:#fff;
   background-color:#333333 !important;
   border: none !important;
   outline: none !important;
   transition: none !important;
 }

.form-control:focus {
   color:#fff;
   background-color: #333333 !important;
   border-color: none !important;
   outline: 10 !important;
   box-shadow: none !important;
   transition: all 0.3s;
 }

.label-color{
     color:#8c8c8c !important;
 }

.theme-btn{
     padding: 0.7rem !important;
     background: red !important;
     color: #fff !important;
     font-size: 1.1rem !important;
     border-bottom: transparent !important;
     filter: drop-shadow(0.1rem 0.1rem 1rem rgba(0,0,0,0.7));
 }

.error{
   border-left: 5px solid red;
}