<div class="container-width">
   <h2 style="margin-top: 5%;text-align: center;">Thank You For Booking!</h2>
   <p style="text-align: center;">Mr/Mrs. {{booked.user_name}} -Your Booking was placed.</p>
   <br><hr>
   <div class="row">
      <div class="col">
         <p class="center" id="mail-confirm-data">
            Once your reservation is confirmed, you will get an E-Mail.
         </p>
         <div class="row" style="margin: 2%;text-align: center;">
            <div class="col-6" >Check-In Time</div>
            <div class="col-6">12:00 PM</div>
            <div class="col-6">Check-Out Time</div>
            <div class="col-6">11:00 AM</div>
         </div>
         <hr>
         <br>
      </div>
      
         <div class="booked-slip">
            <div class="row">
               <div class="col-12">
                  <img src="../../assets/tq.jpg"alt="">
               </div>
            </div>
            <hr>
            <div style="margin-left: 30%;">
               
               
                  <div class="col-6" id="spacing">Room Name - {{booked.room_name}}</div>
                  <div class="col-6" id="spacing">Room Type &nbsp; - {{booked.room_type}}</div>                  
                  <div class="col-6" id="spacing">Date From &nbsp;&nbsp;&nbsp;- {{booked.date_from}}</div>                  
                  <div class="col-6" id="spacing">Date To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{booked.due_date}}</div>                  
                  <div class="col-6" id="spacing">Total Nights - {{booked.no_of_nights}}</div>               
                  <div class="col-6" id="spacing">Rooms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{booked.no_of_rooms}}</div>
            </div>   
                  <hr>
                  <div style="margin-left: 30%;">
                  <div class="col-6" id="spacing">Subtotal - {{booked.subtotal}}</div>
                  <div class="col-6" id="spacing">Tax (18%) - {{booked.tax}}</div></div>
                  <hr>
                  <div style="margin-left: 30%;">
                  <div class="col-6" id="spacing" style="font-weight: bold;">Total Amount - {{booked.total}} </div>
                  <br>
                  <br>               
            </div>
         </div>
      
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>