.container-width{
   width: 35%;
   margin-left: 30%;
   
}
.center{
   text-align: center;
}
#mail-confirm-data{
   padding: 2%;
   border: 1px solid black;
   width: 90%;
   margin-left: 10%;
   margin-top: 5%;
   
}
.col-4{
   padding: 2%;
}
.booked-slip{
   border: 1px solid black;
}
img{
   width: 100%;
   height: 25vh;
}
#spacing{
   margin-top: 2%;
}