.container{
   margin-bottom: 5%;
}
.adding-align{
   margin-top: 5%;
   margin-bottom: 2%;
}

.input-number{
   width: 500px;
   display: inline-block;
   margin: 1% 5%;
}
a{
   color: rgb(214, 58, 58);
   font-weight: bold;
   background-color: transparent;
   padding: 5px 25px 5px 25px;
   border-color: rgb(214, 58, 58);
   border-radius: 10px;
   margin: 2%;
}
.center{
   text-align: center;
}
input[type=button],input[type=submit] {
   background-color: black;
   border: none;
   color: #fff;
   padding: 7px 20px;
   text-decoration: none;
   margin: 4px 4px;
   cursor: pointer;
   width: 150px;
}
input[type=button],input[type=submit]:hover{
background-color: black;
}