<div class="container">
   <br>
   <div style="text-align: center;">
      <h1>EDIT PROPERTY DETAILS</h1>
      <hr>
   </div>

   <div class="calander input-number">
      <label style=" font-weight: bold;">Hotel Name</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Hotel Name" [(ngModel)]='property.property_name' name="hotelname" #property_name required>
   </div>
   <div class="calander input-number">
      <label style="font-weight: bold;">Property Type</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Property Type" [(ngModel)]='property.property_type' name="propertytype" #property_type required>
   </div>
   <div class="calander input-number">
      <label style="font-weight: bold;">Address</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Hotel Address" [(ngModel)]='property.address' name="hoteladdress" #address required>
   </div>
   <div class="calander input-number">
      <label style="font-weight: bold;">Location</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="City" [(ngModel)]='property.location' name="location" #location required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Maximum-Guest</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="Max. No.of Guest" [(ngModel)]='property.max_guest' name="max_guest" #max_guest required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">No. of Rooms</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="No. of rooms" [(ngModel)]='property.rooms' name="rooms" #rooms required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">No. of Bed</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="Bed Count" [(ngModel)]='property.beds' name="beds" #beds required>
   </div>

   <div class="calander input-number">
      <label style=" font-weight: bold;">About Property</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="About Property" [(ngModel)]='property.more_info' name="moreinfo" #more_info required>
   </div>
   
   <div class="calander input-number">
      <label style=" font-weight: bold;">Price</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="INR Price" [(ngModel)]='property.price' name="price" #price required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Rating</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Rating" [(ngModel)]='property.ratings' name="ratings" #ratings required>
   </div>
   <br>
   <div class="center">
      <div class="add-button">
         <input type="submit" (click)="Updatepropertydata()" value="Update">
      </div>
   </div>
</div>