<div class="container">
   <div id="style-inline">
      
      <div class="center">
      <div class="calander input-number">
         <label style="color: rgb(80, 80, 80); font-weight: bold;">Location</label>
         <input type="text" class="form-control" id="inputPassword2" placeholder="Location" name="location" #location>
      </div>
      <div class="calander input-number">
         <label style="color: rgb(80, 80, 80); font-weight: bold;">Check-In</label>
         <input type="date" style="width: 100%;padding: 5px;"  name="datefrom">
      </div>
      <div class="calander input-number">
         <label style="color: rgb(80, 80, 80); font-weight: bold;">Check-Out</label>
         <input type="date" style="width: 100%;padding: 5px;"  name="datefrom1">
      </div>
      <div class="calander input-number">
         <input type="submit" (click)="getlocation(location.value)"value="Search">
      </div>
   </div>
   <div class="room-content">
      <br>
      <hr>
      <div style="text-align:center ;">
         <h1>AVAILABALE PROPERTIES</h1>
      </div>
      <hr>
      <span *ngFor="let pro of property;let indexOfelement=index;">
         <div class="property-list">
            <div class="row">
               <div class="col-3 property-image-sizer" style="width: 20rem;">
                  <img src="{{pro.image1}}"  alt="">
               </div>
               <div class="col">
                  <div class="property-content" style="width: 30rem;">
                     <h3 style="margin-bottom: 0px;">{{pro.property_name}}</h3>
                     <p style="margin-bottom: 3px; text-transform: capitalize;">{{pro.location}}</p>
                     <p>{{pro.property_line_content}}</p>
                     <span class="property-features">
                        <ul>
                           <li>Rooms : {{pro.rooms}}</li>
                           <li>Rating : {{pro.ratings}}</li>
                        </ul>
                     </span>
                       
                  </div>
               </div>
               <hr id="hr-responsive" style="display: none;">
               <div class="col-2 center">
                  <div class="row">
                     <div class="col-12">
                        <div>Amount</div><div id="price-details"><span style="font-size:xx-large;">{{pro.price}}</span><span style="color: black;"> -Per night</span></div>
                     </div>
                     <div class="col-12">
                        <a routerLink="/moreinfo" (click)="getMoreInfo(pro)"><input type="submit" value="More Info"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </span>
   </div>
   </div>
</div>
<br>
<br>
<br>
