.calander{
   width: 15rem;
   display:inline-block;
}
.center{
   text-align: center;
}
.row{
   margin-top: 3%;
   margin-bottom: 3%;
}
.my-field{
   background-color:green;
 }
 .p-field.p-col-12.p-md-4{
    padding: 10px !important;
 }
 #style-inline{
    border: 1px solid rgb(209, 209, 209);
    margin-top: 3%;
    margin-bottom: 1%;
    display: inline-block;
    width: 100%;
 }
 .form-control{
    padding: 8px;
 }
 .input-number{
    margin: 2% 1%;
 }
 input[type=button],input[type=submit] {
        background-color: black;
        border: none;
        color: #fff;
        padding: 7px 40px;
        text-decoration: none;
        margin: 4px 4px;
        cursor: pointer;
}
input[type=button],input[type=submit]:hover{
   background-color: black;
}
.room-title{
   color: rgb(148, 148, 148);
   margin: 1% 1%;
   font-size: x-large;
   font-weight: bold;
}
.property-image-sizer img{
   width: 19rem;
   height: 30vh;
}
.center{
   text-align: center;
}
#price-details{
   margin: 10% 0;
}
.property-content{
   width: 100% !important;
}
.property-content h3{
   color: #868686;
}
i{
   font-size:24px;
   margin: 0 1%;
}

@media only screen and (max-width:412px)
{
   .property-content{
      width: 20rem !important;
   }
   .input-number{
      margin: 2% 3%;
   }
   .p-field.p-col-12.p-md-4{
      width: 260px;
   }
   .col-2{
      margin: 5% 0;
      width: 100%;
      display: block;
   }
   #price-details{
      margin: 2% 0;
   }
   #hr-responsive{
      display: block !important;
      margin: 5% 2% 1% 5%;
      width: 86%;
   }
   i{
      margin-top: 2%;
   }
   .property-list{
      border: 1px solid red;
      padding-left: 5%;
      padding-top: 2%;
      
   }
}
@media only screen and (max-width:320px)
{
   .property-image-sizer img{
      width: 17rem !important;
   }
   .property-list{
      padding-left: 4%;
      padding-top: 2%;
   }
   #hr-responsive{
      margin: 5% 2% 1% 5%;
      width: 76%;
   }
   .col-3{
      width: 100% !important;
   }
   .property-content{
      width: 100% !important;
   }
}
@media only screen and (max-width:280px)
{
   .property-image-sizer img{
      width: 14rem !important;
   }  
}
.property-awesome{
   position: relative;
}
.fontawesome-icon{
   position:absolute;
   z-index: 2;
   top: -30px;
   height: 10px;
}
#fontawesome-icon-liner{
   background-color: #ffffff;
   padding: 2px 10px;
   border: 1px solid #868686;
}
/**/
.property-awesome span{
   display: none;
}
.property-awesome i :hover{
   display:block !important;
}
/**/