<div class="container">
   <br>
   <div style="text-align: center;">
      <h1>ADD PROPERTY DETAILS</h1>
      <hr>
   </div>

   <div class="calander input-number">
      <label style=" font-weight: bold;">Hotel Name</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Hotel Name" [(ngModel)]='property.property_name' name="hotelname" required>
   </div>
   <div class="calander input-number">
      <label style="font-weight: bold;">Property Type</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Property Type" [(ngModel)]='property.property_type' name="propertytype" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Address</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Hotel Address" [(ngModel)]='property.address' name="hoteladdress" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Location</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="City" [(ngModel)]='property.location' name="location" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Maximum-Guest</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="Max. No.of Guest" [(ngModel)]='property.max_guest' name="max_guest"required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">No. of Rooms</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="No. of rooms" [(ngModel)]='property.rooms' name="rooms" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">No. of Beds</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="Bed Count" [(ngModel)]='property.beds' name="beds" required>
   </div>

   <div class="calander input-number">
      <label style=" font-weight: bold;">About Property</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="About Property" [(ngModel)]='property.more_info' name="moreinfo" required>
   </div>
   
   <div class="calander input-number">
      <label style=" font-weight: bold;">Price</label>
      <input type="number" class="form-control" id="inputPassword2" placeholder="INR Price" [(ngModel)]='property.price' name="price" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Rating</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Rating" [(ngModel)]='property.ratings' name="ratings" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Pool</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Swimming Pool"  name="Pool" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Garden</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Garden"  name="Garden" required>
   </div>
   <br>
   <div style="text-align: center;"><h3>UPLOAD IMAGES</h3></div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Image 1</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Image 1 URL" [(ngModel)]='property.image1' name="image1" required>
   </div>
   
   <div class="calander input-number">
      <label style=" font-weight: bold;">Image 2</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Image 2 URL" [(ngModel)]='property.image2' name="image2" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Image 3</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Image 3 URL" [(ngModel)]='property.image3' name="image3" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Image 4</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Image 4 URL" [(ngModel)]='property.image4' name="image4" required>
   </div>
   <div class="calander input-number">
      <label style=" font-weight: bold;">Image 5</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Image 5 URL" [(ngModel)]='property.image5' name="image5" required>
   </div>
   <br>
   <div class="center">
      <div class="add-button">
         <input type="submit" (click)="addpropertydata()" value="ADD PROPERTY">
      </div>
   </div>
</div>