<div id='background'>
   <div class='container'>
       <div class='col-lg-4 col-md-8 col-sm-10 col-12 mx-lg-auto mx-md-auto mx-sm-auto mx-auto'>
           <div class='form_data'>
               <div class='col-lg-11 col-md-11 col-sm-11 col-12 mx-lg-auto mx-md-auto mx-sm-auto mx-auto'>
                   <div class='form_title mb-4'>
                       <h2 class='text-white'>Sign In</h2>
                   </div>
                   <div *ngIf='isError' style="color: yellow;font-size: 1.2rem;text-align: center;">
                       {{errMessage}}
                   </div>
                   <form #loginform='ngForm' (ngSubmit)='login()'>
                       <div class="form-floating mb-3 mt-0">
                           <input type="text" class="form-control" [(ngModel)]='user.email' id="floatingInput"
                               placeholder="name@example.com" [class.error]='uemail.invalid && uemail.touched'
                               name='email' #uemail='ngModel' required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
                           <label for="floatingInput" class='label-color'>Email address</label>
                       </div>
                       <div *ngIf='uemail.touched'>
                           <div *ngIf='uemail.errors && uemail.invalid'>
                               <small class='text-danger' *ngIf="uemail.errors?.['required']">
                                   Email is required.
                               </small>
                               <small class='text-danger' *ngIf="uemail.errors?.['pattern']">
                                   Please enter a valid email address.
                               </small>
                           </div>
                       </div>

                       <div class="form-floating mb-3 mt-0">
                           <input type="password" class="form-control" [(ngModel)]='user.password' id="floatingPassword"
                               placeholder="Password" [class.error]='upassword.invalid && upassword.touched'
                               name='password' #upassword='ngModel' required
                               pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'>
                           <label for="floatingPassword" class='label-color'>Password</label>
                       </div>
                       <div *ngIf='upassword.touched'>
                           <div *ngIf='upassword.errors && upassword.invalid'>
                               <small class='text-danger' *ngIf="upassword.errors?.['required']">
                                   Password is required
                               </small>
                               <small class='text-danger' *ngIf="upassword.errors?.['pattern']">
                                   Your Password must contain minimum 8 characters including one uppercase letter, and
                                   one number or special character.
                               </small>
                           </div>
                       </div>

                       <div class='input-group mt-5 mb-1'>
                           <input type="submit" name="submit" value="Sign In"
                               class="form-control btn btn-primary theme-btn" [disabled]="loginform.form.invalid">
                       </div>

                       <div class="form_footer">
                           <h5 style="font-size:1rem;color: #757575;" class="mt-3 mb-2">New to Bookings? <span
                                   class="font-weight-bold text-white"><a routerLink='/register'
                                       class="text-white">Sign up
                                       now.</a></span></h5>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>


</div>