<div class="container">
   <span *ngIf="total_count==0">
      <div class="center">
         <img src="../../assets/nodatafound.png" width="150" alt="">
         <br>
         <img src="../../assets/no_data_found.png" alt="">
      </div>
   </span>
   <div style="text-align: center;">
      <br><span *ngFor="let pro of property;let indexOfelement=index;">
      <h2>
         AVAILABALE PROPERTIES IN LOCATION - {{pro.location}}
      </h2></span></div>
      <hr>
   
   <span *ngFor="let pro of property;let indexOfelement=index;">
      <div class="property-list">
         <div class="row">
            <div class="col-3 property-image-sizer" style="width: 20rem;">
               <img src="../../assets/IMG0{{indexOfelement}}1.jpg"  alt="">
            </div>
            <div class="col">
               <div class="property-content" style="width: 30rem;">
                  <h2 style="margin-bottom: 0px;">{{pro.property_name}}</h2>
                  <p style="margin-bottom: 3px;">{{pro.location}}</p>
               
                  <p>{{pro.property_line_content}}</p>
                  <span class="property-features">
                     <ul>
                        <li>Property-Type: {{pro.property_type}}</li>
                        <li>Rooms : {{pro.rooms}}</li>
                        <li>Rating : {{pro.ratings}}</li>
                     </ul>
                  </span>
                  
               </div>
            </div>
            <hr id="hr-responsive" style="display: none;">
            <div class="col-2 center">
               <div class="row">
                  <div class="col-12">
                     <div>Amount</div><div id="price-details"><span style="font-size:xx-large;color:black;">{{pro.price}}</span><span style="color: black;"> -Per night</span></div>
                  </div>
                  <div class="col-12">
                     <a routerLink="/moreinfo" (click)="getMoreInfo(pro)"><input type="submit" value="More Info"></a>
                  </div>
               </div>
            </div>
         </div>
         <hr>
      </div>
   </span>
</div>
<br>
<br>
<br>
<br>